<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Structures</title>
  </head>
  <body>
    <h3>List Operations</h3>

    <p>
      Jina said her tope three favorite movies were {{movies[0]}}, {{movies[1]}}
      and {{movies[2]}}.
    </p>

    <h3>Dictionary Operations</h3>

    <p>
      This is a {{car["brand"]}} {{car["model"]}}, built in {{car["year"]}}.
    </p>

      <h3>Custom Data Structure Operations</h3>
      <p>
        The four Galilean Moons of Jupiter are {{moons.first}}, {{moons.second}},
        {{moons.third}}, and {{moons.fourth}}
      </p>

      
  </body>
</html>
