<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loops and conditionals</title>
  </head>
  <body>
    <h1>Loops in Jinja2</h1>
    <h2>For loop and conditional statememts</h2>

    {% for user, os in user_os.items() %}
      {% if os == "Widnows" %}
        <p>{{user}} is a Windows user.</p>
      {% elif os == "MacOS" %}
        <p>{{user}} is a MacOS user.</p>
      {% if os == "Linux" %}
        <p>{{user}} is a Linux user.</p>
      {%endif%}
    {%endfor%}
  </body>
</html>
